/* ДЛЯ ШРИФТОВ */
@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}

/* ДЛЯ СБРОСА СТИЛЕЙ СПИСКОВ */
@mixin list-style-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ДЛЯ СБРОСА ВНЕШНИХ И ВНУТРЕННИХ ОТСТУПОВ */
@mixin mp-reset() {
  margin: 0;
  padding: 0;
}
