.button-burger {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  flex-shrink: 0;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $viewport-tablet) {
    display: none;
  }
}

.button-burger--close {
  background-image: url("../../icons/stack.svg#burger-close");
  width: 18px;
  height: 19px;
  margin-left: 73px;
  margin-bottom: 2px;
}

.button-burger--open {
  background-image: url("../../icons/stack.svg#burger-open");
  width: 24px;
  height: 24px;
  margin-left: 65px;
}
