.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #eaeaea;

  @media (min-width: $viewport-tablet) {
    background-color: #ffffff;
    padding-top: 27px;
    padding-bottom: 0;
  }

  @media (min-width: $viewport-desktop) {
    display: flex;
    gap: 160px;
    padding-top: 25px;
    padding-bottom: 75px;
    background-image: linear-gradient(#ffffff 163px, #f2f2f2 163px);
  }
}

.example__container {
  font-family: $headers-font;
  margin-bottom: 20px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 104px;
  }

  @media (min-width: $viewport-desktop) {
    padding-right: 0;
    padding-left: calc((100vw - 1220px) / 2);
    margin: 0;
    width: calc(((100vw - 1220px) / 2) + 500px);
  }
}

.example__title {
  @include mp-reset();
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $viewport-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 146px;
    max-width: 500px;
  }
}

.example__text {
  font-family: $general-font;
  color: #444444;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  min-width: 280px;

  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 69px;
    width: 433px;
  }
}

.example__facts-container {
  @media (min-width: $viewport-tablet) {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  @media (min-width: $viewport-desktop) {
    flex-direction: column;
    align-items: start;
    gap: 59px;
  }
}

.example__facts-list {
  @include list-style-reset();
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 34px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 0;
    gap: 43px;
    width: 500px;
  }
}

.example__facts-item {
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  min-height: 56px;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $viewport-tablet) {
    width: 162px;
    min-height: 72px;
  }
}

.example__facts-legend {
  position: absolute;
  top: 46px;
  left: 19px;
  font-family: $general-font;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  width: 80px;
  text-align: center;
  background-color: #eaeaea;
  text-transform: lowercase;

  @media (min-width: $viewport-tablet) {
    font-size: 14px;
    line-height: 14px;
    width: 114px;
    top: 62px;
    left: 22px;
    background-color: #ffffff;
  }

  @media (min-width: $viewport-desktop) {
    background-color: #f2f2f2;
  }
}

.example__facts-legend--long {
  @media (min-width: $viewport-tablet) {
    width: 142px;
    left: 10px;
  }
}

.example__facts-text {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $viewport-tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__price-container {
  width: 188px;
  margin: 0 auto;

  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 9px;
    margin: 0;
  }

  @media (min-width: $viewport-desktop) {
    width: auto;
    flex-direction: row;
    align-items: start;
    gap: 65px;
  }
}

.example__price-title,
.example__price-number {
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-align: right;
  }

  @media (min-width: $viewport-desktop) {
    display: inline;
  }
}

.example__cost-title {
  @media (min-width: $viewport-tablet) {
    max-width: 174px;
  }
}

.example__cost-price {
  @media (min-width: $viewport-tablet) {
    max-width: 90px;
  }
}

.example__slider {
  @media (min-width: $viewport-tablet) {
    background-image: linear-gradient(#ffffff 151px, #eaeaea 151px);
    padding-bottom: 101px;
  }

  @media (min-width: $viewport-desktop) {
    background-image: linear-gradient(#ffffff 138px, #f2f2f2 138px);
    padding-top: 0;
    padding-bottom: 0;
    width: 560px;
  }
}
