.food-description {
  box-sizing: border-box;
  padding-bottom: 24px;
}

.food-description__title {
  @include mp-reset();
  font-family: $headers-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  align-self: start;

  @media (min-width: $viewport-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.food-description__list {
  @include list-style-reset();
  display: flex;
  flex-direction: column;
  counter-reset: list-number 0;
  gap: 20px;
  width: 100%;

  @media (min-width: $viewport-tablet) {
    flex-flow: wrap;
    gap: 77px 100px;
    max-width: 1439px;
    margin: 0 auto;
  }

  @media (min-width: $viewport-desktop) {
    column-gap: 81px;
  }
}

.food-description__item {
  position: relative;
  width: 100%;
  min-height: 60px;
  counter-increment: list-number 1;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: #68b738;
    background-position: center;
    background-size: 30px 32px;
    background-repeat: no-repeat;

    @media (min-width: $viewport-tablet) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $viewport-tablet) {
    width: 40%;

    &::after {
      position: absolute;
      content: counter(list-number);
      font-family: $headers-font;
      font-size: 280px;
      color: #f2f2f2;
      top: 90px;
      left: 116px;
    }
  }

  @media (min-width: $viewport-desktop) {
    width: 20%;
  }
}

.food-description__item--first::before {
  background-image: url("../../icons/stack.svg#how-it-works-leaf");
}

.food-description__item--second::before {
  background-image: url("../../icons/stack.svg#how-it-works-powder");
}

.food-description__item--third::before {
  background-image: url("../../icons/stack.svg#how-it-works-eat");
}

.food-description__item--fourth::before {
  background-image: url("../../icons/stack.svg#how-it-works-clock");
}

.food-description__text {
  position: relative;
  color: #444444;
  margin: 0;
  margin-left: 80px;
  margin-top: 2px;
  width: 200px;

  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    padding: 109px 0 57px;
    z-index: 1;
    width: 245px;
  }
}

.food-description__item-broken {
  display: none;

  @media (min-width: $viewport-tablet) {
    display: block;
  }
}
