.page-header {
  background-color: #ffffff;

  @media (min-width: $viewport-tablet) {
    padding-top: 25px;
    padding-inline: 30px;
  }

  @media (min-width: $viewport-desktop) {
    background-color: #ffffff;
    padding-top: 55px;
    padding-inline: 110px;
    padding-bottom: 51px;
  }
}

.page-header__container {
  min-width: 320px;

  @media (min-width: $viewport-tablet) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $viewport-desktop) {
    width: 1220px;
  }
}

.page-header--desktop-background {
  @media (min-width: $viewport-desktop) {
    background-image: image-set(url("../../images/hero-cat-full-desktop@1x.webp") type("image/webp") 1x, url("../../images/hero-cat-full-desktop@2x.webp") type("image/webp") 2x, url("../../images/hero-cat-full-desktop@1x.jpg") 1x, url("../../images/hero-cat-full-desktop@2x.jpg") 2x), linear-gradient(to right, #62a53b, #62a53b);
    background-repeat: no-repeat;
    background-position: 50vw 0;
  }
}

.page-header__header-container {
  @media (min-width: $viewport-tablet) {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  @media (min-width: $viewport-desktop) {
    justify-content: space-between;
  }
}

.page-header__header {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;
  width: 280px;
  padding-inline: 20px;
  margin: 0 auto;

  @media (min-width: $viewport-tablet) {
    justify-content: start;
    width: 174px;
    margin: 0;
    padding-inline: 0;
    padding-top: 0;
    gap: 11px;
    padding-bottom: 0;
  }

  @media (min-width: $viewport-desktop) {
    width: 202px;
  }
}

.page-header__hero {
  @media (min-width: $viewport-tablet) {
    margin: 0 auto;
    width: 708px;
    box-sizing: border-box;
  }

  @media (min-width: $viewport-desktop) {
    position: relative;
    margin: 0;
  }
}

.page-header__logo-link {
  width: 101px;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-link--picture {
  margin-right: 55px;
  width: 33px;

  @media (min-width: $viewport-tablet) {
    margin-right: 0;
    width: 60px;
  }

  @media (min-width: $viewport-desktop) {
    width: 70px;
  }
}

.page-header__logo-image {
  display: block;
}

.page-header__logo-text {
  display: block;
  margin-right: 73px;
}
