.socials {
  display: flex;
  gap: 20px 24px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $viewport-tablet) {
      display: none;
    }
  }
}

.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 28px;
}

.socials__link {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    mask-position: center;
    background-color: #666666;
  }


  &:hover::before,
  &:focus-visible::before {
    background-color: #68b738;
  }

  &:active::before {
    background-color: rgba(104, 183, 56, 0.3);
  }
}

.socials__link--vk {
  &::before {
    mask-image: url("../../icons/stack.svg#socials-vk");
    width: 27px;
    height: 17px;
  }
}

.socials__link--youtube {
  &::before {
    mask-image: url("../../icons/stack.svg#socials-youtube");
    width: 24px;
    height: 19px;
  }
}

.socials__link--telegram {
  &::before {
    mask-image: url("../../icons/stack.svg#socials-telegram");
    width: 20px;
    height: 17px;
  }
}

